*{
	padding: 0%;
	margin: 0%;
}
.main-container{
	width: 100%;
	margin: 0 auto;
	font-family: "Arial",Sans-serif;
}
.head{
	width: 100%;
	height: 45px;
	opacity: 0.8;
	background: black;
}
.head > a{
	width: 150px;
	height: 70%;
	float: right;
	margin-top: 6.75px;
	margin-right: 30px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: white;
	border-radius: 7px 7px;
	background: #00b300;
}
.container-01{
	width: 100%;
	height: 800px;
	background: url("../images/1.jpeg");
	background-position: center;
	background-size: cover;
}
.container-01 > img{
	width: 100%;
	height: 100%;
}
.img-hover{
	width: 100%;
	height: 755px;
	opacity: 0.8;
	background: black;
}
.container-01-static-content{
	width: 900px;
	height: 100%;
	margin: 0 auto;
	background: black;
}
.block-button{
	width: 30%;
	height: 70px;
	opacity: 0.999999;
	font-size: 20px;
	margin: 0 auto;
	border-radius: 7px 7px;
	background: green;
}
.block-button > a{
	width: 100%;
	height: 100%;
	display: block;
	color: white;
	padding: 20px;
	padding-left: 35px;
	text-decoration: none;
}


/* Блок 2 */
.container-02{
	width: 100%;
	height: 400px;
	background: white;
}

/* Блок 3 */
.container-03{
	width: 100%;
	height: 600px;
}
.container-03-hover{
	width: 900px;
	height: 100%;
	margin: 0 auto;
	background: black;
}
.calc-container{
	width: 95%;
	height: 30%;
	padding-top: 40px;
	background: white;
	margin: 0 auto;
}
.calc-container-value{
	width: 90%;
	height: 50%;
	margin: 0 auto;
	background: red;
}
.calc-value{
	width: 31%;
	height: 80%;
	margin-left: 1.2%;
	margin-top: 1.2%;
	float: left;
	display: block;
	background: white;
}
.value{
	width: 80%;
	height: 90%;
	margin-top: 3%;
	margin-left: 4%;
}
.value > input{
	margin-top: 3%;
	width: 100%;
	height: 45%;
	border-radius: 7px 7px;
}
.culc-button{
	width: 30%;
	height: 22%;
	text-align: center;
	margin: 3% auto;
	background: red;
}
.culc-button > a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-top: 3%;
	display: block;
}
.result-box{
	width: 100%;
	height: 64%;
	background: blue;
}


/* Блок 4 */
.container-04{
	width: 100%;
	height: 600px;
	background: url("../images/yolanda-sun-40675.jpg");
	background-position: center;
	background-size: cover;
}
.img-hover-04{
	width: 100%;
	height: 600px;
	background: black;
	opacity: 0.8;
}
.container-content-04{
	width: 900px;
	height: 100%;
	margin: 0 auto;
}
.container-content-static-04{
	width: 50%;
	height: 100%;
	float: left;
	/*background: white;*/
}
.container-form-static-04{
	width: 50%;
	height: 100%;
	float: right;
}
.container-form-static-04 > form{
	width: 90%;
	height: 90%;
	margin: 6% auto;
}
.container-form-first-name{
	width: 100%;
	height: 13%;
	margin-top: 8%;
}
#label_first_name{
	width: 100%;
	height: 20%;
	font-size: 15px;
	color: white;
}
#input_first_name{
	width: 90%;
	height: 60%;
	margin-top: 2%;
	margin-bottom: 10%;
	border-radius: 7px 7px;
	background: black;
	opacity: 0.8;
}
.container-form-last-name{
	width: 100%;
	height: 13%;
	margin-top: 8%;
}
#label_last_name{
	width: 100%;
	height: 20%;
	font-size: 15px;
	color: white;
}
#input_last_name{
	width: 90%;
	height: 60%;
	margin-top: 2%;
	margin-bottom: 10%;
	border-radius: 7px 7px;
	background: black;
	opacity: 0.8;
}
.container-form-phone{
	width: 100%;
	height: 13%;
	margin-top: 8%;
}
#label_phone{
	width: 100%;
	height: 20%;
	font-size: 15px;
	color: white;
}
#input_phone{
	width: 90%;
	height: 60%;
	margin-top: 2%;
	margin-bottom: 10%;
	border-radius: 7px 7px;
	background: black;
	opacity: 0.8;
}
.container-form-email{
	width: 100%;
	height: 13%;
	margin-top: 8%;
}
#label_email{
	width: 100%;
	height: 20%;
	font-size: 15px;
	color: white;
}
#input_email{
	width: 90%;
	height: 60%;
	margin-top: 2%;
	margin-bottom: 10%;
	border-radius: 7px 7px;
	background: white;
	background: black;
	opacity: 0.8;
}
.container-form-user-rights{
	width: 100%;
	height: 13%;
	margin-top: 8%;
}
.user-rights-block{
	margin-left: 8%;
}
#user_rights_checkbox{
	float: left;
}
#label_user_rights{
	color: white;
	font-size: 15px;
}
.container-form-submit-button{
	width: 100%;
	height: 13%;
	margin-top: 2%;
}
.container-form-submit-button > input {
	width: 70%;
	height: 75%;
	margin-left: 10%;
	border-radius: 7px 7px;
	color: white;
	background: green;
}

/* Блок 5 */
.container-05{
	width: 100%;
	height: 400px;
	background: white;
}

/* Блок 6 */
.container-06{
	width: 100%;
	height: 400px;
	background: url("../images/business-analytics-bs-lg.jpg");
}
.container-06-hower{
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.7;
}

/* Блок 7 */
.container-07{
	width: 100%;
	height: 700px;
	margin: 0 auto;
	background: grey;
}
.container-07-content{
	width: 900px;
	height: 100%;
	margin: 0 auto;
	/*background: white;*/
}
.container-07-topic{
	width: 100%;
	height: 70px;
	padding-top: 20px;
	/*background: red;*/
}
.container-07-topic > h4{
	width: 20%;
	height: 60%;
	margin: 0 auto;
	font-size: 40px;
}

input[type=text]:focus{
  outline: 2px solid green;     /* Green! yey */
  border-radius: 7;
}