*{
	margin: 0;
	padding: 0;
	font-family: "Arial", "Sans-serif";
}

/* Header Settings */
.header{
	width: 100%;
	height: 55px;
	background: #000080;
}
.header-left{
	width: 23%;
	height: 100%;
	float: left;
}
.header-right{
	width: 77%;
	height: 100%;
	float: right;
	font-size: 25px;
}
.title{
	float: left;
	padding: 1%;
}
.title > a{
	color: white;
	text-decoration: none;
}
.header-username-block{
	width: 30%;
	height: 90%;
	margin-top: 2.75px;
	margin-right: 3%;
	/*background: black;*/
	float: right;
}
.username{
	width: 90%;
	height: 90%;
	margin: 0.8% auto;
	text-align: right;	
	/*background: white;*/
}
.username > a{
	color: white;
	font-size: 15px;
}
/* **************** */

/* Main container */
.main-container{
	width: 100%;
	height: 1500px;
	background: #000066;
}
/* ************** */

/* Left side menu */
.left-side-menu{
	width: 23%;
	height: 100%;
	float: left;
	position: fixed;
	background: linear-gradient(#000066, #0000ff);
}
.widget-list{
	width: 100%;
	margin-top: 10%;
	list-style: none;
}
.widget-list > li{
	border-top: 0.1px solid #6666ff;
	width: 100%;
}
.widget-list > li > a{
	color: white;
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
}
.widget-list > li > a:hover{
	background: #000033;
}
/* ****************** */

/* Content block */
.content{
	width: 77%;
	height: 100%;
	float: right;
	background: rgb(242, 242, 230);
}
.content-01{
	width: 99.8%;
	height: 8.2%;
	padding: 1px;
	margin-top: 20px;
/*	background: rgb(88, 8, 115, 0.9);*/
}
.content-01-bloks-container{
	width: 90%;
	height: 90%;
	margin: 0.8% auto;
	/*background: black;*/
}
.content-01-block{
	width: 30%;
	height: 90%;
	float: left;
	margin-left: 2.5%;
	margin-top: 0.65%;
	background: white;
	box-shadow: 2px 2px 8px #888888;
	/*border: 0.1px solid grey;*/
}
.content-01-img{
	width: 32.5%;
	height: 90%;
	float: left;
	margin-left: 2.5%;
	margin-top: 2.1%;
	border-radius: 7px;
	background: black;
}
.content-01-value{
	width: 62.5%;
	height: 90%;
	float: left;
	margin-left: 2.5%;
}
.content-01-block-value{
	width: 100%;
	height: 65%;
}
.content-01-block-info{
	width: 100%;
	height: 35%;
}
.content-01-block-info > a{
	color: black;
	text-decoration: none;
	font-size: 16px;
}
/* ************************* */

/* Content block 2 */
.content-02{
	width: 99.8%;
	height: 2.8%;
	padding-top: 3.5%;
	padding-bottom: 2%;
}
.block-buttons{
	width: 70%;
	height: 100%;
	margin: 0 auto;
}
.button-invest{
	width: 35%;
	height: 100%;
	float: left;
	margin-left: 10%;
	border-radius: 3px 3px;
	box-shadow: 2px 2px 8px #888888;
	background: linear-gradient(#129f12,#14b814);
}
.button-invest > a{
	color: white;
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 6%;
	text-align: center;
	text-decoration: none;
}
.button-withdraw{
	width: 35%;
	height: 100%;
	float: left;
	margin-left: 10%;
	border-radius: 3px 3px;
	box-shadow: 2px 2px 8px #888888;
	background: linear-gradient(#e6b800,#ffcc00);
}
.button-withdraw > a{
	color: white;
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 6%;
	text-align: center;
	text-decoration: none;
}

/* Content 03 */
.content-03{
	width: 100%;
	height: 25%;
	padding-top: 1px;
}
.statistic-blocks{
	width: 90%;
	height: 90%;
	margin: 0 auto;
	margin-top: 2%;
}
.statistic-block{
	width: 30%;
	height: 90%;
	margin-left: 2%;
	margin-top: 2%;
	padding-top: 1px;
	box-shadow: 2px 2px 8px #888888;
	display: inline-block;
	background: white;
}
.statistic-block-header{
	width: 95%;
	height: 24.5%;
	padding-top: 1px;
	margin: 0.25% auto;
	margin-bottom: 0.25%;
}
.statistic-header-info{
	width: 90%;
	height: 90%;
	margin: 1% auto;
	text-align: center;
}
.statistic-header-static{
	width: 90%;
	height: 90%;
	margin: 5% auto;
}
.statistic-header-static > a{
	font-size: 18px;
}
.statistic-header-static > a > span{
	color: grey;
	font-size: 15px;
}
.statistic-block-value{
	width: 90%;
	height: 22%;
	padding: 1px;
	margin: 1% auto;
}
.block-value{
	width: 90%;
	height: 90%;
	padding-top: 1px;
	margin: 1.5% auto;
}
.block-value-summary{
	width: 50%;
	height: 90%;
	float: left;
	display: inline-block;
	font-size: 14px;
}
.block-value-summary > a{
	font-size: 16px;
}
.block-value-summary > a > span{
	font-size: 13px;
	color: grey;
}
.block-value-static{
	width: 50%;
	height: 90%;
	float: left;
	background: black;
}

/* content 04 */
.content-04{
	width: 100%;
	height: 12%;
	padding-top: 1px;
}
.referal-block-static{
	width: 90%;
	height: 90%;
	padding-top: 1px;
	margin: 1% auto;
}
.referal-block{
	width: 96%;
	height: 90%;
	margin: 1% auto;
	box-shadow: 2px 2px 8px #888888;
	background: white;
}
.referal-block-header{
	width: 100%;
	height: 35%;
}
.referal-block-header > a{
	color: black;
	font-size: 21px;
	float: left;
	margin-top: 1%;
	margin-left: 2%;
}
.referal-block-link{
	width: 100%;
	height: 63.5%;
}